.*
*~
!.gitignore
*.zip
*.bak
*.old
*.out
/class*
/out*
/old*
/BAK*
/ark
/Debug
/dependency
/Release
/EXE
/Win32*
*.class
*.dependency
*.res
*.ncb
*.opt
*.exe
*.obj
*.sbr
*.pch
*.bsc
*.pdb
*.idb
*.aps
*.dcu
*.dfm
*.?de
*.m?t
*.DSW
*.OBR
Link*
RC*
